/* input-styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.path {
 margin-left: 0px ;
 padding: 10px 0;
 font-size: 14px;
 display: flex;
    align-items: center;
    gap: 5px;
    justify-content: start;
}
.dev-start{
    text-align: start !important;
}


#contactPage input:not([type=radio]),textarea{
    @apply !border-b  !w-full focus:!outline-none !border-b-black !border-t-transparent !border-l-transparent !border-r-transparent focus:!border-t-transparent focus:!border-l-transparent focus:!border-r-transparent;
}





